<div class="container">
    <div class="inputs" type="text">
        <div class="field"></div>
    </div>
    <div class="flex-row top-row">
        <div>
            <div id="pt-clr" class="btn" onclick="calc()">AC</div>
        </div>
        <div>
            <div id="clr" class="btn" onclick="calc()">C</div>
        </div>
        <div>
            <div id="pct" class="btn" onclick="calc()">%</div>
        </div>
        <div>
            <div id="divide" class="btn" onclick="calc()">÷</div>
        </div>
    </div>
    <div class="flex-row">
        <div>
            <div id="seven" class="btn" onclick="calc()">7</div>
        </div>
        <div>
            <div id="eight" class="btn" onclick="calc()">8</div>
        </div>
        <div>
            <div id="nine" class="btn" onclick="calc()">9</div>
        </div>
        <div>
            <div id="add" class="btn" onclick="calc()">+</div>
        </div>
    </div>
    <div class="flex-row">
        <div>
            <div id="four" class="btn" onclick="calc()">4</div>
        </div>
        <div>
            <div id="five" class="btn" onclick="calc()">5</div>
        </div>
        <div>
            <div id="six" class="btn" onclick="calc()">6</div>
        </div>
        <div>
            <div id="sub" class="btn" onclick="calc()">-</div>
        </div>
    </div>
    <div class="flex-row">
        <div>
            <div id="one" class="btn" onclick="calc()">1</div>
        </div>
        <div>
            <div id="two" class="btn" onclick="calc()">2</div>
        </div>
        <div>
            <div id="three" class="btn" onclick="calc()">3</div>
        </div>
        <div>
            <div id="mult" class="btn" onclick="calc()">x</div>
        </div>
    </div>
    <div class="flex-row">
        <div>
            <div id="zero" class="btn" onclick="calc()">0</div>
        </div>
        <div>
            <div id="period" class="btn" onclick="calc()">.</div>
        </div>
        <div>
            <div id="neg" class="btn" onclick="calc()">+/-</div>
        </div>
        <div>
            <div id="calc" class="btn-equal" onclick="calc()">=</div>
        </div>
    </div>
</div>